body {
	background: #f2edd7;
	color: rgb(50,50,50);
	font-family: perpetua;
	font-size: 19px;
}

h1,h2,h3{
	font-family: garamond;
}

h1 {
	color: black;
	font-size: 32px;
}

h2{
	color: #f39189;
	font-size: 24px;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #046582;
}
a:hover{
	color: black;
}
.container {
	width:500px;
	margin: 10px;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px;) {
	.container {
		width: 400px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 400px;
	}
}


.card-white {
	background-color: white;
	padding: 0.1px;
	box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	border-radius: 20px;
	text-align: center;
	line-height: 20px;

}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #046582;
	color:white;
	padding: 3px 10px;
	border-radius: 4px;
	line-height: 50px;
}

.list-inlinee {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display:inline;
	padding: 10px;
}






